@import "tailwindcss";

@theme {

    --font-display: "Jost", sans-serif;

    --color-sand: #f5ecdc;
    --color-walnut: #BFAC8A;
    --color-walnut-dark: #6C614D;
    --color-walnut-darkest: #191510;

    --color-sage: #6e8b71;
    --color-sage-dark: #405142;
    --color-sage-darkest: #121713;
}

@layer base {
    html {
        @apply font-display font-normal text-[17px];
    }

    body {
        @apply bg-sand text-black;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-display font-bold;
    }

    h1 {
        @apply text-3xl;
    }
}

@layer components {

    .box {
        @apply rounded-xl p-3;
    }

    .container-full {
        @apply xl:max-w-8/10 max-w-9/10 w-full mx-auto;
    }

    .nav-link.nav-link-alt {
        @apply text-sage
    }

    .nav-link {
        @apply text-walnut hover:text-sand font-medium tracking-wider;

        &.router-link-exact-active {
            @apply text-sand;
        }
    }

    .footer-social-link {
        @apply bg-sand text-walnut-darkest rounded-lg size-8 flex items-center justify-center;

        &.footer-social-email {
            @apply bg-sage text-sand hover:bg-sage-dark w-auto px-3;
        }
    }
}